{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "type": "setting",
  "settings": {
    "[javascript]": {
      "editor.rulers": [100]
    },
    "[typescript]": {
      "editor.rulers": [100]
    }
  }
}
